/* I chose black and orange as my main colour scheme because it connects directly 
to the visual identity of the Gehry Getty website. The black background 
references the immersive concert hall environment, while the orange accent 
reflects stage lights and warmth. This creates a strong contrast for readability 
and a thematic link to the interactive experience I analysed. */

/* This is for managment my website's colours and spacing.
  Easy to change later and keep the style consistent */
:root {
  --title-height: 8.5rem;
  --title-gap: 1rem;
  --answer-gap: 2rem;
  --bg-colour: #1a1a1a;
  --primary-color: #fd8b19;
  --secondary-color: #47685b;
  --text-color: #fff5e4;
  --secondary-bg-color: #403d3c;
}
/* Dark background to make orange cards stand out.
   Inter is clean and readable on screen */
html,
body {
  background-color: var(--bg-colour);
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: var(--primary-color);
  margin: 1rem 1rem 0.25rem;
  text-align: center;
}

/* This is for the screenshot and source link */
.cover {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  max-width: 800px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(238, 154, 58, 0.419);
}

/* Fixed height and object-fit to keep the image tidy on the screen   */
.cover img {
  width: auto;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}
/* using underline and strong colour help link visibility and accessibility */
.cover figcaption {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: var(--secondary-bg-color);
  text-align: center;
}
.cover figcaption a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

/* Using grid layout is to wrap cards responsively.
    set minmax(450px,1fr) keeps cards wide enourgh for comfortable reading. */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  max-width: 2400px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  align-items: stretch;
}
/* Card design: use strong colour, soft shadow to fit the theme.
   Grid Layout: this keeps all titles aligned and answers starting at the same hight.*/
.card {
  background: var(--primary-color);
  padding: 2rem;
  border-radius: 16px;
  display: grid;
  grid-template-rows: var(--title-height) 1fr;
  row-gap: var(--title-gap);
  color: var(--primary-color);
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(154, 235, 161, 0.376);
}

/* Title styling: clear hierarchy and strong contrast with the card.
   Using align-self:start is to align titles to the top of the title area.
   Using overflow:hidden is to avoid overflow if the title is too long. */
.card h2 {
  margin: 0;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5;
  align-self: start;
  overflow: hidden;
  color: var(--secondary-color);
}

/* High contrst colour, larger line hight and even spacing make the text area look clear.
   Using flex is to manage multiple paragraphs or lists */
.answer {
  margin: 0;
  line-height: 2rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-weight: 800;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--answer-gap);
  overflow: auto;
}
/* Act as a closing banner for the webpage */
footer {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  font-size: 1rem;
  color: var(--text-color);
  border-top: 2px solid var(--primary-color);
}
