:root {
  --title-height: 8.5rem;
  --title-gap: 1rem;
  --answer-gap: 1rem;
  --primary-color: #fd8b19;
  --secondary-color: #47685b;
  --text-color: #fff5e4;
  --secondary-bg-color: #403d3c;
}

html,
body {
  background-color: #1a1a1a;
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: var(--primary-color);
  margin: 1rem 1rem 0.25rem;
  text-align: center;
}

.cover {
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  max-width: 800px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  text-align: center;
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cover img {
  width: auto;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}
.cover figcaption {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: #403d3c;
  text-align: center;
}
.cover figcaption a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 2400px;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  align-items: stretch;
}

.card {
  background: var(--primary-color);
  padding: 1.25rem;
  border-radius: 16px;
  display: grid;
  grid-template-rows: var(--title-height) 1fr;
  row-gap: var(--title-gap);
  color: var(--primary-color);
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.5;
  align-self: end;
  overflow: hidden;
  color: var(--secondary-color);
}

.answer {
  margin: 0;
  line-height: 2rem;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  font-weight: 800;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--answer-gap);

  overflow: auto;
}

footer {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  font-size: 1rem;
  color: var(--text-color);
  border-top: 2px solid var(--primary-color);
}
