.para-style {
  background-color: bisque;
  padding: 20px;
  border: 1px solid black;
}

img {
  display: block;
}

button {
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
}

.round {
  border-radius: 50%;
}
