/* * {
  color: hotpink;
} */

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
  font-style: normal;
}

h1 {
  color: blueviolet;
  font-weight: bold;
  font-size: 32px;
}

h2 {
  color: limegreen;
}

.bisect {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

/* p {
  font-weight: bold;
} */

.blue-color {
  color: blue;
}

#purple-color,
h3 {
  color: purple;
}

section {
  text-align: center;
  border: 2px solid red;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  border: 1px dashed green;
}
