body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
}

.outer {
  width: 400px;
  border: 2px dashed #e5e5cb56;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  /* gap: 10px; */
}

.limebox {
  background-color: limegreen;
  padding: 10px;
  color: black;
  flex: 1;
}

.yellowbox {
  background-color: yellow;
  padding: 10px;
  color: black;
  flex: 1;
}
.bluebox {
  background-color: lightblue;
  padding: 10px;
  color: black;
  flex: 1;
}
