body {
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
  color: blue;
}

p {
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(26, 24, 25);
  background-color: beige;
  height: 200px;
  margin-bottom: 30px;
  padding: 20px;
  border-left: 2px dashed red;
}
p :hover {
  background-color: lightblue;
}

.vcenter {
  line-height: 160px;
}

span {
  display: none;
  font-size: 4rem;
  color: green;
}
